.results-report {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}
.cx-icon {
  margin-right: 1em;
  padding: 4px;
  width: 48px;
  height: 48px;
  vertical-align: middle;
}
.cx-report-title {
  font-size: 32px;
  font-weight: 500;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1em;
  width: calc(100% - 48px - 1em);
  border-bottom: solid 2px #373050;
  color: #373050;
}
.summary-section {
  display: flex;
  padding: 10px;
  padding-bottom: 26px;
}
.summary-title {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 30px;
}
.sast-summary {
  margin-right: 47px;
}
.chart {
  display: table;
  table-layout: fixed;
  max-width: 475px;
  min-width: 330px;
  width: 100%;
  height: 288px;
  padding: 0;
  background-image: linear-gradient(to top, #d5d5d5, #ffffff 2%);
  background-size: 100% 70px;
  background-position: left bottom;
  border-bottom: solid #979797 2px;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
}
.chart li span {
  max-width: 20px;
}
.chart span {
  margin-left: 25%;
  display: block;
  background: #d1ecfa;
  animation: draw 1s ease-in-out;
}
.chart .bar-count {
  /*margin-left: 25%;*/
  width: 65%;
  display: inline-block;
  min-width: 20px;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.47px;
  line-height: 43px;
}
.chart .bar-title {
  font-size: 16px;
  padding: 0 18px;
  color: #525055;
}
.chart .bar-title-container {
  position: absolute;
  padding-top: 21px;
  display: inline-flex;
  text-align: center;
  word-wrap: break-word;
}
.chart .bar-1 {
  position: relative;
  background-color: #da2945;
}
.chart .bar-2 {
  position: relative;
  background-color: #ffb400;
}
.chart .bar-3 {
  position: relative;
  background-color: #efd412;
}
.threshold-exceeded-compliance {
  height: 18px;
}
.threshold-exceeded,
.threshold-compliance {
  display: flex;
}
.threshold-exceeded-icon,
.threshold-compliance-icon {
  display: inline-flex;
  margin-right: 3px;
  line-height: 28px;
  vertical-align: middle;
  padding-right: 6px;
  height: initial;
  padding-top: 2px;
}
.threshold-exceeded-text {
  color: #da2945;
}
.threshold-compliance-text {
  color: #21bf3f;
}
.osa-libraries {
  text-align: left;
  margin-right: 35px;
  background-color: #f2f2f2;
  width: 107px;
  padding: 30px 16px;
}
.osa-libraries-title {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 25px;
}
.libraries-vulnerable,
.libraries-ok {
  overflow: hidden;
  margin-bottom: 34px;
  margin-top: 16px;
}
.libraries-vulnerable-number,
.libraries-ok-number {
  font-size: 18px;
  margin: auto;
}
.libraries-vulnerable-icon,
.libraries-ok-icon {
  font-size: 18px;
}
.libraries-vulnerable-text,
.libraries-ok-text {
  font-size: 14px;
  line-height: 20px;
}
.libraries-icon-number {
  display: flex;
  margin-bottom: 13px;
}
.osa-results {
  display: flex;
}
.threshold-line {
  width: 20px;
  border-bottom: dashed white 1px;
  padding-right: 3px;
}
.threshold-tooltip {
  transform: translate(0, 50%);
  line-height: 14px;
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 4px 10px;
  margin-left: 4px;
  background: #373050;
  border-radius: 5px;
}
.threshold-tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: -5px;
  border: 5px solid transparent;
  border-right-color: #373050;
}
.tooltip-container {
  position: absolute;
  display: inline-flex;
}
.title-links-column,
.main-column {
  padding: 59px 0;
  line-height: 25px;
  display: inline-block;
}
.title-links-column {
  margin-right: 10px;
  vertical-align: top;
  height: 100%;
  letter-spacing: -0.8px;
  width: 20%;
  color: #373050;
  max-width: 250px;
}
.full-report-title {
  border-bottom: solid #979797 1px;
  color: white;
  background-color: #373050;
  line-height: 28px;
  padding: 5px 13px;
}
.full-report-title div {
  font-size: 24px;
  font-weight: 500;
}
.download-icon,
.download-txt {
  display: inline-block;
}
.download-icon {
  margin-right: 6px;
}
.full-report-links a {
  line-height: 28px;
  color: black;
  text-decoration: none;
}
.full-start-end {
  display: inline-flex;
  text-align: left;
  width: 100%;
  font-size: 14px;
  color: #525055;
  padding-top: 6px;
}
.full-start-end-icon {
  margin: 4px 7px 0 0;
}
.full-start,
.full-end,
.full-files,
.full-loc {
  display: inline-flex;
  line-height: 18px;
  margin-right: 63px;
}
.full-loc {
  margin: auto;
  display: inline-block;
}
.full-loc > div {
  display: inline-block;
}
.osa-downloads a,
.sast-downloads a {
  color: black;
  text-decoration: none;
}
.full-severity-title {
  display: block;
  text-align: left;
  margin-top: 45px;
  margin-bottom: 18px;
}
.full-severity-title .severity-title-name {
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
}
.full-severity-title .severity-count {
  display: inline-block;
}
.full-severity-title .severity-icon {
  display: inline-block;
}
table.cve-table {
  width: 100%;
}
table.cve-table th,
table.cve-table td {
  border: 1px solid transparent;
  text-align: left;
}
table.cve-table th {
  border-bottom: 1px solid #373050;
  font-size: 14px;
  color: #9b9b9b;
}
table.cve-table td {
  font-weight: 500;
  font-size: 16px;
  color: #373050;
  border-bottom: 1px solid #979797;
  padding: 11px 0;
}
table.cve-table td.sast-cve-table-high,
table.cve-table td.sast-cve-table-med,
table.cve-table td.sast-cve-table-low {
  max-width: 19px;
}
table.cve-table.sast-cve-table td:last-child,
table.cve-table.sast-cve-table th:last-child {
  padding-right: 20px;
  text-align: right;
}
table.cve-table.osa-cve-table td:last-child,
table.cve-table.osa-cve-table th:last-child {
  width: 32%;
}
